Source: ros-noetic-mrpt-rawlog
Section: misc
Priority: optional
Maintainer: Markus Bader <markus.bader@tuwien.ac.at>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-dynamic-reconfigure, ros-noetic-marker-msgs, ros-noetic-mrpt-bridge, ros-noetic-mrpt-msgs, ros-noetic-mrpt2, ros-noetic-nav-msgs, ros-noetic-rosbag, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-tf
Homepage: https://wiki.ros.org/mrpt_rawlog
Standards-Version: 3.9.2

Package: ros-noetic-mrpt-rawlog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-dynamic-reconfigure, ros-noetic-marker-msgs, ros-noetic-mrpt-bridge, ros-noetic-mrpt-msgs, ros-noetic-mrpt2, ros-noetic-nav-msgs, ros-noetic-rosbag, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-tf
Description: This package enables you to record a rawlog from a ROS drive robot.
 At the moment the package is able to deal with odometry and 2d laser scans.
